@media (min-width:1750px){

    #nav{
        margin-top: 1%;
        #dow{
            font-size: 100%;
        }
    }
}

@media (min-width:1700px) {
    #page1{
        height: 85%;
        margin: 5vw;
        margin-top: 13%;
    }

    #nav{
        margin-top: 2%;
        #dow{
            font-size: 100%;
        }
    }

    #page3{
        #boxDiv{
            #boxs{
                width: calc(12vh + 12vw);
                height: calc(12vh + 12vw);
            }
        }
    }

}

@media (min-width:1300px){
    #page3{
        #boxDiv{
            #boxs{
                width: 75%;
                height: 75%;
            }
        }
    }
}

@media (max-width:1090px){
    #page1{
        grid-template-columns: repeat(1,1fr);
        margin: 5%;
        height: 87%;
        margin-top: 23%;
    }
    #mode{
        width: 10vw;
        height: 10vw;
        top: 12vh;
        right: 6vw;
    }

    #nav{
        height: 7%;
        color: black;
    }
    #inbox{
        font-size: 280px;
        color: black;
    }
    
    #page1{
        #info{
            #text{
                margin-bottom: 18%;
            }
            #btns{
                #btn1{
                    font-size: 3.5vw;
                }
                #btn2{
                    font-size: 3.5vw;
                }
            }
        }
    }
    #page2{
        
        #lang{
            width: 100%;
            height: 20%;
            font-size: calc(1.5vw + 1.5vh);
        }
        #langs{
            #pro{
                width: 11%;
                height: 100%;
                p{
                    font-size: calc(1.5vh + 1.5vw);
                }
            }
        }
    }
    #boxDiv{
        width: 100%;
        height: 70%;
        display: grid;  
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        justify-items: center;
        align-items: center;
        background: transparent;
        #boxs{
            width: calc(19vh + 19vw);
            height:calc(19vh + 19vw);
            position: relative;
            a{
                z-index: 10;
                position:absolute;
                width: 100%; 
                height: 100%;
            }
        }
    }

    #conForm{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    
    #page4{
        div{
            p{
                font-size: calc(1.5vh + 1.5vw);
            }    
        }
        #conForm {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            #conInfo {
                width: 100%;
            }

            #form {
                width: 100%;
                button {
                    width: 40%;
                    border-radius: 0.5vh;
                }
            }
        }
    }
    #page3{
        #project{
            p{
                font-size: calc(1.5vh + 1.5vw);
            }
        }
    }
        #page5 {
            #txt {
                height: 30%;
                font-size:calc(1.5vh + 1.5vw) ;
            }
    
            #btnBack {
                width: 40%;
                padding: 1.5vw;
                #ball {
                    right: 67%;
                    font-size: calc(1.2vh + 1.2vw);
                }
            }
        }
   
    
}

@media (min-width:600px){
    #page1{
        margin-top: 9%;
    }
}
